' {{hash}}
@startuml
{{sprite}}
!procedure {{name|upper}}(object_name, caption='', xscale='.5', xcolor='{{color}}')
card "<${{name}},scale=xscale,color=xcolor>caption" as object_name
!endprocedure

@enduml
